.contenedor-carrito {
  height: 25px;
  width: 25px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .logo-carrito {
    height: 25px;
    width: 25px;
  }

  .contador-carrito {
    position: absolute;
    bottom: 0;
    font-size: 12px;
    cursor: pointer;
  }
}
